/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
// @import 'bootstrap/scss/bootstrap';

label.xng-breadcrumb-trail{
    color: orange;
    font-weight: bold;
    // text-transform: uppercase;
}

label.xng-breadcrumb-link{

    text-transform: uppercase;
}