<div class="container mt-5">
    <h4>Internal Server Error - refreshing will make the error disappear</h4>
    <ng-container *ngIf="error">
        <h5 class="text-danger">Error: {{error.message}}</h5>
        <p class="font-weight-bold">This error comes from the server - not Angular</p>
        <P>What to do next</P>
        <ol>
            <li>Check the n/w tab in your browser's dev tools</li>
            <li>Try to Reproduce the error in Postman</li>
        </ol>
        <h5>Stack Trace</h5>
        <code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>
    </ng-container>
</div>