<div class="container">
    <div *ngIf="(basketService.basketSource$ | async) === null">
        <p>There are no items in your basket.</p>
    </div>

    <ng-container *ngIf="(basketService.basketSource$ | async) as basket">
        <div class="container">
            <div class="row">
                <div class="table-responsive">
                    <div class="table">
                        <thead class="bg-light text-uppercase">
                            <tr>
                                <th>
                                    <div class="py-2">Product</div>
                                </th>
                                <th>
                                    <div class="py-2">Price</div>
                                </th>
                                <th>
                                    <div class="py-2">Quantity</div>
                                </th>
                                <th>
                                    <div class="py-2">Total</div>
                                </th>
                                <th>
                                    <div class="py-2">Remove</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of basket.items">
                                <th>
                                    <div class="p-2 d-inline-block">
                                        <img src="{{item.pictureUrl}}" alt="{{item.name}}" class="img-fluid"
                                            style="max-height: 50px;">
                                        <div class="ms-3 d-inline-block align-middle">
                                            <h5 class="mb-0">
                                                <a class="text-decoration-none" routerLink="/shop/{{item.id}}">
                                                    {{item.name}}
                                                </a>
                                            </h5>
                                            <span class="text-muted fst-italic">
                                                Type: {{item.type}}
                                            </span>
                                        </div>
                                    </div>
                                </th>
                                <td class="align-middle" style="font-size: large;">
                                    <strong>{{item.price | currency: 'INR': true}}</strong>
                                </td>
                                <td class="align-middle">
                                    <div class="d-flex align-items-center" style="font-size: large;">
                                        <i (click)="removeItem(item.id, 1)" class="fa fa-minus-circle text-warning me-2"
                                            style="cursor: pointer;"></i>
                                        <strong class="me-2">{{item.quantity}}</strong>
                                        <i (click)="incrementQuantity(item)" class="fa fa-plus-circle text-warning me-2"
                                            style="cursor: pointer;"></i>
                                    </div>
                                </td>
                                <td class="align-middle" style="font-size: large;">
                                    <strong>{{item
                                        .price * item.quantity | currency: 'INR': true}}</strong>
                                </td>
                                <td class="align-middle" style="font-size: large;">
                                    <a class="text-danger">
                                        <i (click)="removeItem(item.id, item.quantity)" class="fa fa-trash"
                                            style="cursor: pointer;"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 offset-6">
                    <app-order-totals>
                    </app-order-totals>
                    <div class="d-grid">
                        <a routerLink="/checkout" class="btn btn-outline-primary">
                            Proceed to checkout
                        </a>
                    </div>
                </div>
            </div>
        </div>


    </ng-container>

</div>