.logo {
    cursor: pointer;
}

.list-group-item {
    cursor: pointer;
    border: none;
    font-size: large;
    padding: 10px;

    &.active {
        border-radius: 10px;
    }

    &:not(.active):hover{
        color: black;
        border-radius: 10px;
    }
}

// & active:hover{
//   background-color:aqua;  
// }