.cart-no{
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    background-color: blue;
    color: white;
    text-align: center;
    top: -18px;
    right: 45px;
}

a{
    text-decoration: none;
    color: #343;

    &.active{
        color: orange;
    }
}

.logo{
    cursor: pointer;
}